.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgb(233, 229, 229);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 3;

  .header-title {
    margin-top: 30px;
    margin-left: 90px;
    font-size: 30px;
  }
}

.title {
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: bold;
}

.nav-list {
  width: 50vw;
  padding-top: 80px;
  padding-left: 30px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  min-height: 100vh;
  overflow-y: hidden;
  padding: 110px 10px 100px 10px;
  margin-bottom: auto;
}

footer {
  margin-top: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
