/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --navigation-text-size: 1.7em;
  --section-title-size: 1.5em;
  --badge-title-size: 2em;
  --badge-description-size: 1.2em;
  --info-text-size: 1.2em;
  --info-text-color: rgb(57, 57, 57);
}
