<form [formGroup]="form">
  <div class="container">
    <h1 class="title">Dados Pessoais</h1>

    <div *ngFor="let field of formFields">
      <mat-form-field *ngIf="field.type === 'input'" class="col-12">
        <mat-label>{{ field.label }}</mat-label>
        <input
          matInput
          formControlName="{{ field.controlName }}"
          type="text"
          [required]="field.required"
          [maxLength]="field.maxLength"
          (keyup)="onKeyUp(field.controlName)"
        />
      </mat-form-field>
      <mat-form-field *ngIf="field.type === 'dropdown'" class="col-12">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select
          formControlName="{{ field.controlName }}"
          [required]="field.required"
        >
          <mat-option *ngFor="let estado of estados" [value]="estado">{{
            estado
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field *ngIf="isCreating">
      <mat-label>Crie uma senha de 6 a 20 dígitos</mat-label>
      <input
        matInput
        [type]="visible ? 'text' : 'password'"
        color="primary"
        [required]="'true' && isCreating"
        formControlName="senha"
        placeholder="Digite uma senha"
      />
      <mat-icon
        *ngIf="!visible"
        matSuffix
        (click)="visible = !visible"
        color="primary"
        >visibility</mat-icon
      >
      <mat-icon
        *ngIf="visible"
        matSuffix
        (click)="visible = !visible"
        color="primary"
        >visibility_off</mat-icon
      >
    </mat-form-field>
    <div class="d-flex flex-row justify-content-between">
      <button
        mat-flat-button
        class="col-5 mt-3"
        color="primary"
        (click)="cancelar()"
      >
        Cancelar
      </button>
      <button
        mat-flat-button
        class="col-5 mt-3"
        color="primary"
        (click)="salvar()"
        [disabled]="!isFormValid"
      >
        Salvar
      </button>
    </div>
  </div>
</form>
