<div class="toolbar">
  <a class="button" mat-icon-button routerLink="/_/home">
    <mat-icon>home</mat-icon>
    <span>Início</span>
  </a>
  <a class="button" mat-icon-button routerLink="/_/favoritos">
    <mat-icon>favorite</mat-icon>
    <span>Favoritos</span>
  </a>
  <a class="button" mat-icon-button routerLink="/_/chamados">
    <mat-icon>support_agent</mat-icon>
    <span>Chamados</span>
  </a>
  <a class="button" mat-icon-button routerLink="/_/alertas">
    <mat-icon>notifications</mat-icon>
    <span>Alertas</span>
  </a>
  <a class="button" mat-icon-button routerLink="/_/ajustes">
    <mat-icon>settings</mat-icon>
    <span>Ajustes</span>
  </a>
</div>
