<div class="toolbar">
  <button mat-icon-button>
    <div class="button-icon">
      <mat-icon>home</mat-icon>
    </div>
    <span>Início</span>
  </button>
  <button mat-icon-button>
    <div class="button-icon">
      <mat-icon>favorite</mat-icon>
    </div>
    <span>Favoritos</span>
  </button>
  <button mat-icon-button>
    <div class="button-icon">
      <mat-icon>support_agent</mat-icon>
    </div>
    <span>Chamados</span>
  </button>
  <button mat-icon-button>
    <div class="button-icon">
      <mat-icon>notifications</mat-icon>
    </div>
    <span>Alertas</span>
  </button>
  <button mat-icon-button>
    <div class="button-icon">
      <mat-icon>settings</mat-icon>
    </div>
    <span>Ajustes</span>
  </button>
</div>
